@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
html{
    height: 100% ;
}
body{
    display: flex;
    align-content: center;
    height: 100%;
    background: rgb(18, 18, 47);
}
#back{
    border-radius: 50%;
    background-color: yellow;
    width: 500px;
    height: 500px;
    margin: auto;
    z-index: 1;
    display: flex;
    justify-content:center;
}

.pipe{
    position: absolute;
    top: 390px;
    width: min-content;
    display: flex;
    justify-content:center;
}

.dot{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 2;
    align-self: center;
    animation: backforth 6s cubic-bezier(.4,.44,.74,.71) infinite;
}
#p2{
    transform:rotate(30deg);
}
#p3{
    transform:rotate(60deg);
}
#p4{
    transform:rotate(90deg);
}
#p5{
    transform:rotate(120deg);
}
#p6{
    transform:rotate(150deg);
}
#d1{
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    -moz-animation-delay:0.5s;
}

#d2{
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;   
}

#d3{
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#d4{
    animation-delay:2s;
    -webkit-animation-delay:2s;
    -o-animation-delay:2s;
    -moz-animation-delay:2s;
}
#d5{
    animation-delay:2.5s;
    -webkit-animation-delay:2.5s;
    -o-animation-delay:2.5s;
    -moz-animation-delay:2.5s;
}

@keyframes backforth{
0%{
    position: relative;
    bottom: 200px;
    background-color: rgb(255, 0, 0);
}
25%{
    position: relative;
    bottom:0px;
    background-color: rgb(255, 0, 0);
}
50%{
    position: relative;
    bottom: -200px;
    background-color: rgb(255, 0, 0);
}
75%{
    position: relative;
    bottom: 0px;
    background-color: rgb(255, 0, 0);
}
100%{
    position: relative;
    bottom: 200px;
    background-color: rgb(255, 0, 0);
}
}

@-webkit-keyframes backforth{
    0%{
        position: relative;
        bottom: 200px;
        background-color: rgb(255, 0, 0);
    }
    25%{
        position: relative;
        bottom:0px;
        background-color: rgb(255, 0, 0);
    }
    50%{
        position: relative;
        bottom: -200px;
        background-color: rgb(255, 0, 0);
    }
    75%{
        position: relative;
        bottom: 0px;
        background-color: rgb(255, 0, 0);
    }
    100%{
        position: relative;
        bottom: 200px;
        background-color: rgb(255, 0, 0);
    }
    }

@-o-keyframes backforth{
    0%{
        position: relative;
        bottom: 200px;
        background-color: rgb(255, 0, 0);
    }
    25%{
        position: relative;
        bottom:0px;
        background-color: rgb(255, 0, 0);
    }
    50%{
        position: relative;
        bottom: -200px;
        background-color: rgb(255, 0, 0);
    }
    75%{
        position: relative;
        bottom: 0px;
        background-color: rgb(255, 0, 0);
    }
    100%{
        position: relative;
        bottom: 200px;
        background-color: rgb(255, 0, 0);
    }
    }

@-moz-keyframes backforth{
    0%{
        position: relative;
        bottom: 200px;
        background-color: rgb(255, 0, 0);
    }
    25%{
        position: relative;
        bottom:0px;
        background-color: rgb(255, 0, 0);
    }
    50%{
        position: relative;
        bottom: -200px;
        background-color: rgb(255, 0, 0);
    }
    75%{
        position: relative;
        bottom: 0px;
        background-color: rgb(255, 0, 0);
    }
    100%{
        position: relative;
        bottom: 200px;
        background-color: rgb(255, 0, 0);
    }
    }